<!DOCTYPE html>
<html>
<head>
    <title>Endpoint 1</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>

    <div class="container">

        <h1>Seleccionar Distrito y Barrio</h1>

        <form onsubmit="getBarrioInfo(event)" method="post">
            <label for="distritoLabel">Elija un Distrito:</label>
            <select name="distritoSelector" id="distritoSelectorTagID" onchange="obtenerBarrios(this.value)">
                {% for distrito in distritos %}
                    <option value="{{ distrito }}">{{ distrito }}</option>
                {% endfor %}
            </select>

            <br>

            <label for="barrioLabel">Elija un Barrio:</label>
            <select name="barrioSelector" id="barrioSelectorTagID" disabled>
                <!-- Las opciones se llenarán dinámicamente utilizando JavaScript -->
            </select>
    
            <br>

            <input type="submit" value="Enviar">
        </form>

        <table id ="infoTable">
            <thead>
                <tr>
                    <th>Población Total</th>
                    <th>Mujeres Totales</th>
                    <th>Hombres Totales</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            <!-- Las opciones se llenarán dinámicamente utilizando JavaScript -->
            </tbody>
        </table>

    </div>
    <script>
        function obtenerBarrios(distrito) {
            var dropdownBarrios = document.getElementById("barrioSelectorTagID");
            dropdownBarrios.innerHTML = ""; // Limpiar opciones existentes

            // Obtener barrios para el distrito seleccionado usando un endpoint de la API
            fetch(`/api/barrios/${distrito}`)
                .then(response => response.json())
                .then(data => {
                    data.barrioDict.forEach(barrio => {
                        var barrioOption = document.createElement("option");
                        barrioOption.value = barrio;
                        barrioOption.text = barrio;
                        dropdownBarrios.add(barrioOption);
                    });
                    dropdownBarrios.disabled = false; // Habilitar el dropdown de barrios
                });
        }


        function getBarrioInfo(event) {
            event.preventDefault(); // Prevent the default form submission

            var distrito = document.getElementById('distritoSelectorTagID').value;
            var barrio = document.getElementById('barrioSelectorTagID').value;
            var infoTable = document.getElementById('infoTable');

            fetch(`/api/neighborhoodData/${distrito}/${barrio}`)
                .then(response => response.json())
                .then(data => {
                    var tableBody = document.getElementById('tableBody');
                    tableBody.innerHTML = '';

                    // Assuming data is an object with pobTotal, hTotal, mTotal
                    var row = `<tr>
                                <td>${data.pobTotal}</td>
                                <td>${data.hTotal}</td>
                                <td>${data.mTotal}</td>
                            </tr>`;
                    tableBody.innerHTML = row; // Add new row
                    infoTable.style.display = "table"
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    // Handle errors, maybe display a message to the user
                });

        }
    </script>
</body>
</html>